.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.BoardContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.datePickerContainer{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left : auto;
}
.datePicker{
  width: fit-content;
}
.BoardContainer h2{
  text-align: center;
}

table{
  margin : 20px auto 50px auto;
  border: 1px solid black;
  border-collapse :collapse;
  width: 100%;
}
th,tr,td{
  text-align: center;
  border-bottom: 1px solid black;
  padding : 10px;
  font: 1em sans-serif;
  font-weight: bold;
}
thead {
  background-color: #009879;
  color: #ffffff;
}
tr:nth-child(even){
  color: #009879;
  background-color: #f3f3f3;
  font-weight: bold;
}
